name: gcloud
version: 0.8.14
description: >-
  High level idiomatic Dart API for Google Cloud Storage, Pub-Sub and Datastore.
repository: https://github.com/dart-lang/gcloud

topics:
 - cloud
 - gcp

environment:
  sdk: '>=2.19.0 <4.0.0'

dependencies:
  _discoveryapis_commons: ^1.0.0
  googleapis: '>=3.0.0 <14.0.0'
  http: '>=0.13.5 <2.0.0'
  meta: ^1.3.0
  retry: ^3.1.1

dev_dependencies:
  dart_flutter_team_lints: ^1.0.0
  googleapis_auth: ^1.1.0
  http_parser: ^4.0.0
  mime: ^1.0.0
  test: ^1.17.5
