name: gcloud
version: 0.2.0+12
author: Dart Team <misc@dartlang.org>
description: Dart gcloud APIs
homepage: https://github.com/dart-lang/gcloud
environment:
  sdk: '>=1.13.0 <2.0.0'
dependencies:
  googleapis: '>=0.2.0 <0.29.0'
  googleapis_beta: '>=0.10.0 <0.28.0'
  http: '>=0.11.0 <0.12.0'
dev_dependencies:
  googleapis_auth: '>=0.2.3 <0.3.0'
  http_parser: '>=2.0.0 <3.0.0'
  mime: '>=0.9.0+3 <0.10.0'
  unittest: '>=0.11.0 <0.12.0'
transformers:
- $dart2js:
    $include: []
